@media (max-width: 1820px) {
  .main-title {
    font-size: 27px !important;
    line-height: 32px !important;
  }

  .order-info {
    margin: 0 auto !important;
  }

  .delivery-block {
    margin-left: 16px !important;
  }
  .delivery-title {
    h2 {
      font-size: 21px !important;
      line-height: 26px !important;
    }
    .arrows {
      display: none !important;
    }
  }

  .address {
    h3 {
      font-size: 17px !important;
      line-height: 21px !important;
    }
    span {
      font-size: 14px !important;
      line-height: 18px !important;
    }
  }
  .courier-info {
    .courier-left {
      width: 300px !important;
      height: 114px !important;
    }
    .courier-right {
      width: 300px !important;
      height: 114px !important;
    }
  }

  .courier-price {
    display: none !important;
  }

  .choose-location {
    .location-link {
      font-size: 17px !important;
      line-height: 21px !important;
    }
  }

  .date-info {
    margin-bottom: 0 !important;
    .date-left {
      width: 117px !important;
      height: 75px !important;
      h3 {
        font-size: 17px !important;
        line-height: 21px !important;
      }
      span {
        font-size: 14px !important;
        line-height: 18px !important;
      }
    }
    .date-right {
      .right-info {
        width: 117px !important;
        height: 75px !important;
        h3 {
          font-size: 17px !important;
          line-height: 21px !important;
        }
        span {
          font-size: 14px !important;
          line-height: 18px !important;
        }
      }
      .choose-date {
        display: none !important;
        .date-link {
          font-size: 17px !important;
          line-height: 21px !important;
        }
      }
    }
  }

  .form {
    label {
      .message-form {
        .message-text {
          font-size: 17px !important;
          line-height: 21px !important;
        }
      }
      .delivery-form {
        .delivery-text {
          font-size: 17px !important;
          line-height: 21px !important;
        }
      }
    }
  }

  .receiver-title {
    h2 {
      font-size: 21px !important;
      line-height: 26px !important;
    }
  }
  .receiver-contacts {
    flex-direction: column !important;
    align-items: flex-start !important;
    .receiver-name {
      height: 88px !important;
      .name-info {
        width: 328px !important;
        height: 69px !important;
        span {
          font-size: 14px !important;
          line-height: 18px !important;
        }
        select {
          font-size: 17px !important;
          line-height: 20px !important;
          letter-spacing: 0.13px !important;
        }
      }
    }
    a {
      font-size: 17px !important;
      line-height: 20px !important;
    }
    .receiver-phone {
      .phone-info {
        span {
          font-size: 14px !important;
          line-height: 18px !important;
        }
        select {
          font-size: 17px !important;
          line-height: 20px !important;
          letter-spacing: 0.13px !important;
        }
      }
    }
    a {
      font-size: 17px !important;
      line-height: 20px !important;
    }
  }
  .summary {
    span {
      font-size: 14px !important;
      line-height: 18px !important;
    }
    b {
      font-size: 14px !important;
      line-height: 18px !important;
    }
  }
  .order-footer {
    .footer-btn {
      font-size: 17px !important;
      line-height: 21px !important;
      letter-spacing: 0.5px !important;
    }
  }

  .cart-title {
    h2 {
      font-size: 21px !important;
      line-height: 26px !important;
    }
  }
  .info-descr {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .info-price {
    font-size: 17px !important;
    line-height: 21px !important;
  }

  .order-footer {
    flex-direction: column;
    justify-content: center !important;
    .footer-btn {
      width: 328px !important;
      height: 52px !important;
      margin-left: 0px !important;
      order: 1;
    }
    .summary {
      margin-right: 20px !important;
      margin-bottom: 16px !important;
    }
  }
}

@media (max-width: 360px) {
  .page {
    height: 912px !important;
  }
  .order-main {
    height: 793px !important;
  }
  .main-title {
    margin-left: 16px !important;
    margin-bottom: 5px !important;
    margin-top: 40px !important;
  }

  .delivery-title {
    margin-bottom: 0 !important;
    margin-top: 16px !important;
  }
  .courier-info {
    width: 169.5% !important;
    margin-bottom: -6px !important;
  }
  .choose-location {
    margin-bottom: 7px !important;
  }

  .receiver-title {
    margin-bottom: 6px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 91%;
  }

  .receiver-name {
    margin-bottom: -10px !important;
    .name-info {
      padding-top: 14px !important;
    }
  }

  .phone-info {
    width: 209px !important;
    height: 69px !important;
    padding-top: 14px !important;
    select {
      bottom: 13px !important;
    }
  }

  .choose-date__mobile {
    display: flex !important;
    margin-bottom: 10px;
  }

  .form {
    margin-bottom: 45px !important;
  }

  .new-receiver__mobile {
    display: block !important;
  }

  .receiver-phone {
    display: flex !important;
    justify-content: space-between !important;
    width: 107% !important;
  }

  .new-phone {
    display: flex !important;
    align-items: center !important;
    height: 60% !important;
    width: 33% !important;
  }
}
