@import '/src/fonts/stylesheet.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

body {
  font-family: "PT Root UI";
}

.page {
  max-width: 1920px;
  width: 100%;
  height: 976px;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.page .order-main {
  max-width: 1905px;
  width: 100%;
  height: 861px;
  background: #f2f2f2;
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  color: #333333;
}
.page .order-main .main-title {
  max-width: 325px;
  width: 100%;
  height: 44px;
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  color: #333333;
  margin-left: 120px;
  margin-top: 48px;
  margin-bottom: 19px;
}
.page .order-main .order-info {
  max-width: 1743px;
  width: 100%;
  height: 746px;
  background: #ffffff;
  border-top: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.page .order-main .order-info .delivery-block {
  max-width: 992px;
  width: 100%;
  margin-left: 42px;
}
.page .order-main .order-info .delivery-block .delivery-title {
  max-width: 992px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 16px;
}
.page .order-main .order-info .delivery-block .delivery-title h2 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 37px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .delivery-title .arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8.5%;
}
.page .order-main .order-info .delivery-block .delivery-title .arrows .arrow {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .delivery-title .arrows .arrow-left {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.3;
}
.page .order-main .order-info .delivery-block .delivery-title .arrows .arrow-left .arrow-left__img {
  transform: scale(-1, 1);
}
.page .order-main .order-info .delivery-block .courier-info {
  max-width: 992px;
  width: 100%;
  display: flex;
  margin-bottom: 1px;
  gap: 1.5%;
}
.page .order-main .order-info .delivery-block .courier-info .courier-left {
  max-width: 489px;
  width: 100%;
  height: 152px;
  background: #ffffff;
  border: 2px solid #065cc2;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .courier-info .courier-left .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 77%;
  margin-left: 19px;
  margin-right: 3px;
}
.page .order-main .order-info .delivery-block .courier-info .courier-left .address h3 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .courier-info .courier-left .address span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #1a1a1a;
}
.page .order-main .order-info .delivery-block .courier-info .courier-left .courier-price {
  display: flex;
  align-items: center;
}
.page .order-main .order-info .delivery-block .courier-info .courier-left .courier-price span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .courier-info .courier-right {
  display: flex;
  max-width: 489px;
  width: 100%;
  height: 152px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .courier-info .courier-right .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 77%;
  margin-left: 19px;
  margin-right: 41px;
}
.page .order-main .order-info .delivery-block .courier-info .courier-right .address h3 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .courier-info .courier-right .address span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #1a1a1a;
}
.page .order-main .order-info .delivery-block .courier-info .courier-right .courier-price {
  display: flex;
  align-items: center;
}
.page .order-main .order-info .delivery-block .courier-info .courier-right .courier-price span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .choose-location {
  margin-bottom: 27px;
}
.page .order-main .order-info .delivery-block .choose-location .location-link {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #065cc2;
}
.page .order-main .order-info .delivery-block .date-info {
  max-width: 992px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  gap: 1.5%;
}
.page .order-main .order-info .delivery-block .date-info .date-left {
  max-width: 272px;
  width: 100%;
  height: 96px;
  background: #ffffff;
  border: 2px solid #065cc2;
  border-radius: 4px;
  padding: 17px;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .date-info .date-left h3 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
  margin-bottom: -12px;
}
.page .order-main .order-info .delivery-block .date-info .date-left span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .date-info .date-right {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 96px;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .date-info .date-right .right-info {
  max-width: 261px;
  width: 100%;
  height: 96px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 17px;
}
.page .order-main .order-info .delivery-block .date-info .date-right .right-info h3 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
  margin-bottom: -12px;
}
.page .order-main .order-info .delivery-block .date-info .date-right .right-info span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .date-info .choose-date {
  display: flex;
  align-items: center;
  max-width: 209px;
  width: 100%;
  height: 28px;
  margin-left: 29px;
}
.page .order-main .order-info .delivery-block .date-info .choose-date .date-link {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #065cc2;
}
.page .order-main .order-info .delivery-block .form {
  margin-bottom: 30px;
}
.page .order-main .order-info .delivery-block .form .message-form {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.page .order-main .order-info .delivery-block .form .message-form .message-checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .form .message-form .message-text {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
  margin-left: 10px;
}
.page .order-main .order-info .delivery-block .form .delivery-form {
  display: flex;
  align-items: center;
}
.page .order-main .order-info .delivery-block .form .delivery-form .delivery-checkbox {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .form .delivery-form .delivery-text {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
  margin-left: 10px;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-title {
  margin-bottom: 14px;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-title h2 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 37px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-title .new-receiver__mobile {
  display: none;
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #065cc2;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-name {
  width: 572px;
  height: 116px;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-name .name-info {
  width: 572px;
  height: 74px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  position: relative;
  display: flex;
  padding-left: 12px;
  padding-top: 7px;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-name .name-info span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-name .name-info select {
  border: none;
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
  position: absolute;
  left: 9px;
  bottom: 10px;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-name a {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #065cc2;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-phone {
  width: 287px;
  height: 116px;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-phone .phone-info {
  width: 287px;
  height: 74px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  position: relative;
  display: flex;
  padding-left: 12px;
  padding-top: 7px;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-phone .phone-info span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #333333;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-phone .phone-info select {
  border: none;
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.13px;
  color: #333333;
  position: absolute;
  bottom: 9px;
  cursor: pointer;
}
.page .order-main .order-info .delivery-block .receiver-info .receiver-contacts .receiver-phone a {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #065cc2;
}
.page .order-main .order-info .cart-block {
  width: 625px;
  position: relative;
  border-left: 1px solid #d6d6d6;
  padding-top: 37px;
  padding-left: 50px;
}
.page .order-main .order-info .cart-block .cart-title {
  margin-bottom: 36px;
}
.page .order-main .order-info .cart-block .cart-title h2 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 37px;
  color: #333333;
}
.page .order-main .order-info .cart-block .cart-info {
  position: relative;
  display: flex;
  align-items: center;
}
.page .order-main .order-info .cart-block .cart-info .info-descr {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 21px;
  color: #333333;
  margin-right: 30.8%;
}
.page .order-main .order-info .cart-block .cart-info .info-price {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;
  text-align: right;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
}
.page .order-main .order-info .cart-block .cart-info:after {
  content: "";
  position: absolute;
  width: 489px;
  height: 1px;
  left: 0px;
  top: 150px;
  background: #d6d6d6;
}
.page .order-footer {
  max-width: 1920px;
  width: 100%;
  height: 119px;
  background: white;
  border: 1px solid #c5c5c5;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .order-footer .footer-btn {
  max-width: 398px;
  width: 100%;
  height: 80px;
  background: linear-gradient(0deg, #ec0002, #ec0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #d02626 99.65%), #ff0000;
  border: 1px solid #e01d1d;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
  border-radius: 4px;
  margin-left: 120px;
  cursor: pointer;
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 37px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.page .order-footer .summary {
  display: flex;
  align-items: center;
  margin-right: 184px;
}
.page .order-footer .summary span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
  margin-right: 113px;
}
.page .order-footer .summary b {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  text-align: right;
  color: #333333;
}
.page .choose-date__mobile {
  display: none;
  align-items: center;
  max-width: 209px;
  width: 100%;
  height: 28px;
}
.page .choose-date__mobile .date-link__mobile {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #065cc2;
}
.page .summary__mobile {
  display: none;
  width: 92%;
  margin-bottom: 13px;
  justify-content: space-between;
}
.page .summary__mobile .summary-price {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.page .summary__mobile .more {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.page .address__mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 84%;
  margin-left: 19px;
  margin-right: 3px;
}
.page .address__mobile h3 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #333333;
}
.page .address__mobile span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.page .date-left__mobile {
  display: none;
  max-width: 272px;
  width: 117px;
  height: 75px;
  background: #ffffff;
  border: 2px solid #065cc2;
  border-radius: 4px;
  padding: 17px;
}
.page .date-left__mobile h3 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.13px;
  color: #333333;
  margin-bottom: -12px;
}
.page .date-left__mobile span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.13px;
  color: #333333;
}
.page .date-right__mobile {
  display: none;
  align-items: center;
  max-width: 500px;
  width: 66%;
  height: 96px;
}
.page .date-right__mobile .right-info {
  max-width: 261px;
  width: 117px;
  height: 75px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 17px;
}
.page .date-right__mobile .right-info h3 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.13px;
  color: #333333;
  margin-bottom: -12px;
}
.page .date-right__mobile .right-info span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.13px;
  color: #333333;
}
.page .select__mobile {
  display: none;
}
.page .span__mobile {
  display: none;
}
.page .popup.show {
  visibility: visible;
}
.page .popup {
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  width: 360px;
  height: 640px;
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page .popup .popup-main {
  padding-bottom: 326px;
}
.page .popup .popup-main .popup-title {
  margin-bottom: 20px;
}
.page .popup .popup-main .popup-title h2 {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #333333;
}
.page .popup .popup-main .popup-info {
  display: flex;
  flex-direction: column;
}
.page .popup .popup-main .popup-info .popup-price {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 15px;
}
.page .popup .popup-main .popup-info .price-value {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  margin-left: 144px;
}
.page .popup .popup-main .popup-info .popup-discount {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 19px;
}
.page .popup .popup-main .popup-info .discount-value {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  margin-left: 165px;
}
.page .popup .popup-main .popup-info .popup-payment {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 22px;
  padding-bottom: 22px;
}
.page .popup .popup-main .popup-info .popup-payment span {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #333333;
}
.page .popup .popup-main .popup-info .payment-value {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  margin-left: 186px;
}
.page .popup .popup-footer {
  border: 1px solid #c5c5c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 360px;
  height: 84px;
  background: linear-gradient(0deg, #ffffff, #ffffff), #f8f8f8;
}
.page .popup .popup-footer .popup-btn {
  width: 328px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
  border-radius: 4px;
  cursor: pointer;
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #333333;
}

@media (max-width: 1220px) {
  .page {
    height: 912px !important;
  }
  .order-main {
    height: 793px !important;
  }
  .main-title {
    font-size: 27px !important;
    line-height: 32px !important;
    margin-left: 16px !important;
    margin-bottom: 5px !important;
    margin-top: 40px !important;
  }
  .order-info {
    margin: 0 auto !important;
  }
  .delivery-block {
    margin-left: 16px !important;
  }
  .delivery-title {
    margin-bottom: 0 !important;
    margin-top: 16px !important;
  }
  .delivery-title h2 {
    font-size: 21px !important;
    line-height: 26px !important;
  }
  .delivery-title .arrows {
    display: none !important;
  }
  .choose-location .location-link {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .date-info {
    margin-bottom: 0 !important;
  }
  .date-info .date-left {
    width: 117px !important;
    height: 75px !important;
  }
  .date-info .date-left h3 {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .date-info .date-left span {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .date-info .date-right {
    width: 66% !important;
  }
  .date-info .date-right .right-info {
    width: 117px !important;
    height: 75px !important;
  }
  .date-info .date-right .right-info h3 {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .date-info .date-right .right-info span {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .date-info .date-right .choose-date {
    display: none !important;
  }
  .date-info .date-right .choose-date .date-link {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .form label .message-form .message-text {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .form label .delivery-form .delivery-text {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .receiver-title {
    margin-bottom: 6px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 91%;
  }
  .receiver-title h2 {
    font-size: 21px !important;
    line-height: 26px !important;
  }
  .receiver-contacts {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .receiver-contacts .receiver-name {
    height: 88px !important;
    margin-bottom: -10px !important;
  }
  .receiver-contacts .receiver-name .name-info {
    height: 69px !important;
  }
  .receiver-contacts .receiver-name .name-info span {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .receiver-contacts .receiver-name .name-info select {
    font-size: 17px !important;
    line-height: 20px !important;
    letter-spacing: 0.13px !important;
  }
  .receiver-contacts a {
    font-size: 17px !important;
    line-height: 20px !important;
  }
  .receiver-contacts .receiver-phone {
    display: flex !important;
    justify-content: space-between !important;
    width: 107% !important;
  }
  .receiver-contacts .receiver-phone .phone-info {
    height: 69px !important;
    padding-top: 14px !important;
  }
  .receiver-contacts .receiver-phone .phone-info span {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .receiver-contacts .receiver-phone .phone-info select {
    font-size: 17px !important;
    line-height: 20px !important;
    letter-spacing: 0.13px !important;
  }
  .receiver-contacts a {
    font-size: 17px !important;
    line-height: 20px !important;
  }
  .summary span {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .summary b {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .order-footer .footer-btn {
    font-size: 17px !important;
    line-height: 21px !important;
    letter-spacing: 0.5px !important;
  }
  .cart-title h2 {
    font-size: 21px !important;
    line-height: 26px !important;
  }
  .info-descr {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .info-price {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .order-footer {
    flex-direction: column;
    justify-content: center !important;
  }
  .order-footer .footer-btn {
    width: 328px !important;
    height: 52px !important;
    margin-left: 0px !important;
    order: 1;
  }
  .order-footer .summary {
    margin-right: 20px !important;
    margin-bottom: 16px !important;
  }
  .choose-date__mobile {
    display: flex !important;
    margin-bottom: 10px;
  }
  .new-receiver__mobile {
    display: block !important;
  }
  .summary {
    display: none !important;
  }
  .summary__mobile {
    display: flex !important;
  }
  .address {
    display: none !important;
  }
  .address__mobile {
    display: flex !important;
  }
  .courier-price {
    display: none !important;
  }
  .date-left {
    display: none !important;
  }
  .date-right {
    display: none !important;
  }
  .date-left__mobile {
    display: block !important;
  }
  .date-right__mobile {
    display: flex !important;
  }
  .cart-block {
    height: 700px;
  }
  .choose-date {
    display: none !important;
  }
}
@media (max-width: 560px) {
  .page {
    height: 912px !important;
  }
  .order-main {
    height: 793px !important;
  }
  .main-title {
    margin-left: 16px !important;
    margin-bottom: 5px !important;
    margin-top: 40px !important;
  }
  .delivery-title {
    margin-bottom: 0 !important;
    margin-top: 16px !important;
  }
  .courier-info {
    width: 169.5% !important;
    margin-bottom: -6px !important;
  }
  .choose-location {
    margin-bottom: 7px !important;
  }
  .receiver-title {
    margin-bottom: 6px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 91%;
  }
  .receiver-name {
    margin-bottom: -10px !important;
  }
  .receiver-name .name-info {
    padding-top: 14px !important;
  }
  .phone-info {
    width: 209px !important;
    height: 69px !important;
    padding-top: 14px !important;
  }
  .phone-info select {
    bottom: 13px !important;
  }
  .choose-date__mobile {
    display: flex !important;
    margin-bottom: 10px;
  }
  .form {
    margin-bottom: 45px !important;
  }
  .new-receiver__mobile {
    display: block !important;
  }
  .receiver-phone {
    display: flex !important;
    justify-content: space-between !important;
    width: 107% !important;
  }
  .new-phone {
    display: flex !important;
    align-items: center !important;
    height: 60% !important;
    width: 33% !important;
  }
  .summary {
    display: none !important;
  }
  .summary__mobile {
    display: flex !important;
  }
}
@media (max-width: 1660px) {
  .cart-block {
    padding-left: 0px !important;
  }
}
@media (max-width: 1530px) {
  .cart-block {
    display: none;
  }
}
@media (max-width: 1020px) {
  .address h3 {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .address span {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .courier-info .courier-left {
    width: 300px !important;
    height: 114px !important;
  }
  .courier-info .courier-right {
    width: 300px !important;
    height: 114px !important;
  }
  .courier-price {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .name-info {
    width: 328px !important;
  }
  .phone-info .phone-info {
    width: 209px !important;
  }
  .select__desktop {
    display: none;
  }
  .select__mobile {
    display: block !important;
  }
  .span__desktop {
    display: none;
  }
  .span__mobile {
    display: block !important;
  }
}

/*# sourceMappingURL=style.css.map */
